{% extends 'base.html' %} {% block content %}

<div class="container" style="margin-top: 100px">
  <h2>Quản lý dự án</h2>

  <div class="d-flex flex-wrap gap-2 mb-3">
    <a href="{% url 'project_add' %}" class="btn btn-success">+ Thêm dự án</a>
    <a href="{% url 'dashboard' %}" class="btn btn-outline-primary"
      >Quản lý dự án</a
    >
    <a
      href="{% url 'project_category_list' %}"
      class="btn btn-outline-secondary"
      >Danh mục dự án</a
    >
    <a href="{% url 'product_list' %}" class="btn btn-outline-secondary"
      >Quản lý sản phẩm</a
    >
    <a
      href="{% url 'product_category_list' %}"
      class="btn btn-outline-secondary"
      >Danh mục sản phẩm</a
    >
    <a href="{% url 'post_list' %}" class="btn btn-outline-secondary"
      >Quản lý bài viết</a
    >
    <a href="{% url 'post_category_list' %}" class="btn btn-outline-secondary"
      >Danh mục bài viết</a
    >
    <a href="{% url 'faq_list' %}" class="btn btn-outline-info">Quản lý FAQ</a>
    <a href="{% url 'leadership_list' %}" class="btn btn-outline-info"
      >Quản lý Ban lãnh đạo</a
    >
    <a href="{% url 'statement_list' %}" class="btn btn-outline-info"
      >Quản lý Tầm nhìn & Sứ mệnh</a
    >
    <a href="{% url 'certificate_list' %}" class="btn btn-outline-info"
      >Quản lý Chứng Chỉ</a
    >
    <a href="{% url 'contact_info_list' %}" class="btn btn-outline-info"
      >Quản lý Liên Hệ</a
    >
  </div>

  <table class="table table-bordered">
    <tr>
      <th>Ảnh</th>
      <th>Tên</th>
      <th>Danh mục</th>
      <th>Action</th>
    </tr>

    {% for p in projects %}
    <tr>
      <td>
        {% if p.image %}
        <img src="{{ p.image.url }}" width="80" alt="{{ p.name }}" />
        {% else %}
        <span class="text-muted">Chưa có ảnh</span>
        {% endif %}
      </td>
      <td>{{ p.name }}</td>
      <td>{{ p.category.name }}</td>
      <td>
        <a href="{% url 'project_edit' p.id %}" class="btn btn-warning">Sửa</a>
        <a href="{% url 'project_delete' p.id %}" class="btn btn-danger">Xóa</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
