{% extends 'base.html' %}
{% block content %}

<div class="container" style="margin-top:100px;">

    <h2>Dashboard - Quản lý dự án</h2>

    <a href="{% url 'project_add' %}" class="btn btn-success mb-3">
        + Thêm dự án
    </a>

    <table class="table table-bordered">
        <tr>
            <th>Ảnh</th>
            <th>Tên</th>
            <th>Action</th>
        </tr>

        {% for p in projects %}
        <tr>
            <td>
                <img src="{{ p.image.url }}" width="80">
            </td>
            <td>{{ p.name }}</td>
            <td>
                <a href="{% url 'project_edit' p.id %}" class="btn btn-warning">Sửa</a>
                <a href="{% url 'project_delete' p.id %}" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}